*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card{
    width: 720px;
    box-shadow: 11px 11px 24px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 11px 24px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 24px 2px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

/* .card_left, .card_right{
    border: 1px solid blue;
} */

.card_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.card_left > a{
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card_left > p{
    color: gray;
}

.card_left > span{
    font-weight: 400;
}

.card_right > img{
    width: 256px;
}